.Footer {
  font-size: 13px;
  text-align: center;
  clear: both;
  position: relative;
  margin-top: 100px;
}
.Footer a {
  text-decoration: none;
  color: blue;
}

span {
  color: #000;
  opacity: 0.5;
}
