form {
  font-size: 17px;
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}
input[type="search"] {
  border-radius: 20px;
  height: 40px;
  padding-left: 16px;
  border-width: 0;
  box-shadow: 0 5px 24px rgba(1, 1, 1, 0.1);
  width: 20rem;
  padding-right: 100px;
  outline: none;
}
input[type="submit"] {
  border-radius: 20px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-width: 0;
  background-color: #0d6efd;
  color: white;
  font-size: 14px;
  position: absolute;
  right: 0px;
}
input[type="submit"]:hover {
  background-color: #0a4bad;
}
.Search {
  display: flex;
}
.current-location-button {
  display: flex;
}
#current-location-button {
  border-radius: 20px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  margin-left: 8px;
}
#current-location-button:hover {
  background-color: #fff;
  color: black;
}

.current-location-button {
  margin-bottom: 15px;
}
