.temp-main .date-heading {
  font-size: 14px;
  margin-bottom: 0;
  text-transform: capitalize;
  padding-bottom: 0;
  padding-left: 15px;
  font-weight: 400;
  margin-top: 4px;
  color: #bf78db;
}
.temp-main .temperature {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}
.temp-number {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  min-width: 60px;
  display: inline-block;
}
.units {
  color: #fff;
  font-size: 20px;
  position: relative;
  top: -32px;
  text-decoration: none;
  cursor: default;
}
.units .active {
  color: #fff;
  cursor: default;
}

.units a {
  margin: 0 4px;
}

.temp-number2 {
  font-size: 30px;
}
.units2 {
  font-size: 20px;
  position: relative;
  top: -22px;
}
.verticalLine {
  border-left: 2px solid;
  border-left-color: #d5d9df;
  color: #fff;
  padding-left: 16px;
  font-size: 15px;
  display: inline-block;
  margin-left: 24px;
}
